@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: Comfortaa;
    font-weight: 700;
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}
.banner{
    background: linear-gradient(135deg, #3800af 0%, #bf7204 97.52%, #c27500 100%, #c27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
    gap: 24px;
    
}
.header__nav{
    background: black;
    padding: 29px 0;
}
.header__nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav a{
    color: white;
    font-size: 18px;
}
.header__nav-list{
    display: flex;
    gap: 30px;
}
.header__nav-list a{
    font-size: 14px;
    transition: .3s;
    font-weight: 400;
    position: relative;
}
.header__nav-list a:hover{
    color: #ed8e00;
}
.header__nav-list a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #ed8e0000;
    display: block;
    border-radius: 10px 10px 0 0;
    margin-top: 0px;
    position: absolute;
    transition: .3s;
}
.header__nav-list a:hover::after{
    margin-top: 41.2px;
    background: #ed8e00;
}
.header__content{
    height: 90vh;
    background: url('../images/headerBg.png') center / cover fixed;
    color: white;
    display: flex;
}
.header__content h1{
    font-size: 64px;
    font-family: Montserrat;
}
.header__content p{
    margin: 30px 0 50px;
    max-width: 570px;
    color: #c8c8c8;
    line-height: 24px;
    font-family: Montserrat;
    font-weight: 400;
}
.btn{
    color: white;
    background: #040D1F;
    border-radius: 4px;
    font-family: system-ui;
    padding: 17px 46px;
    margin-right: 30px;
}
.btn:hover{
    color: black;
    background: #f18128;
}
body{
    background: #040d1f;
}
.main-title{
    margin: 63px 0 54px;
    text-transform: capitalize;
    font-size: 36px;
    color: #f18128;
    border-bottom: 2px solid #f18128;
    width: max-content;
    padding-bottom: 10px;
}
   
.films{
    margin-bottom: 77px;
}
.films__cards{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.films__cards-item{
    position: relative;
    width: 255px;
    height: 368px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.films__cards-item > img{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.films__cards-item div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
}
.films__cards-item span{
    font-size: 14px;
    padding: 7px 27px;
    font-weight: 400;
    background: rgba(7, 15, 25, 0.2);
    border-radius: 9px;
    border: 1px solid #fff;
    margin-bottom: 18px;
    font-family: Montserrat;
}
.films__cards-item h3{
    font-weight: 400;
    font-size: 22px;
    font-family: Montserrat;
}
.films__cards-item p{
    font-family: system-ui;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding: 0 14px;
    line-height: 21px;
}
.trailer{
    height: 500px;
    margin-bottom: 61px;
    background: linear-gradient(90deg, #def7ff 0%, #f4fcff 45.31%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.trailer video{
    position: absolute;
    z-index: -1;
    height: 135%;
    right: 0;
}
.trailer p{
    margin: 51px 0 55px;
    max-width: 558px;
    font-size: 18px;
    font-family: system-ui;
    font-weight: 400;
}
.colls__cards-item{
    background: url(../images/colls1.png) center / cover;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}
.colls__cards-item:nth-of-type(2){
    background: url(../images/colls2.png) center / cover;
}
.colls__cards-item:nth-of-type(3){
    background: url(../images/colls3.png) center / cover;
}
.colls__cards-item img{
    transition: 1s;
}
.colls__cards-item > img:first-of-type{
    transform: translateY(-110%) rotateY(360deg);
}
.colls__cards-item > img:last-of-type{
    transform: translateY(110%) rotateY(-360deg);
}
.colls__cards-item:hover img{
    transform: translateY(0) rotateY(0);
}
.colls__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 63px;
}
.series__main{
    height: 436px;
    background: url(../images/series1.png) center / cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 28px;
    padding: 0 22px;
    margin-bottom: 30px;
}
.series__main p{
    font-weight: 400;
    line-height: 24px;
}
.series__main h3{
    font-size: 40px;
}
.series__grid-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 24px;
    background: url(../images/series2.png) center / cover;
    grid-column: span 3;
    border-radius: 6px;
}
.series__grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 202px);
    gap: 30px;
}
.series__grid-card:nth-of-type(1){
    grid-row: span 2;
    grid-column: span 6;
}
.series__grid-card:nth-of-type(2){
    background: url(../images/series3.png) center / cover;
}
.series__grid-card:nth-of-type(3){
    background: url(../images/series4.png) center / cover;
}
.series__grid-card:nth-of-type(4){
    background: url(../images/series5.png) center / cover;
}
.series__grid-card:nth-of-type(5){
    background: url(../images/series6.png) center / cover;
}
.footer{
    background: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
    padding: 27px 0;
    margin-top: 63px;
}
.footer .container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.burger{
    display: none;
    visibility: hidden;
}